.picker {
  position: fixed;
  top: 50%;
  left: 24px;
  right: auto;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  z-index: 2;

  span {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    padding: 0.25rem;
    opacity: 0.5;
    transition: all 0.2s;
  }

  .current {
    opacity: 1;
  }
}
